<!-- <div class="footer">
  <h1 class="display-4">Practica Angular 2+</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div> -->
<footer>
  <div class="center">
    <label>GABRIEL ANDRES ARBOLEDA TOLOSA - 1039470240</label><br>
    <label>POLITECNICO COLOMBIANO JAIME ISAZA CADAVID</label><br>
    <label>2018</label>
  </div>
</footer>
