<div class="container main-container">
  <h1>Clientes</h1>
  <hr>
  <div class="row">
      <div class="col-md-12">
          <button type="button" class="btn btn-outline-primary right" [routerLink]="[ '/cliente', 'nuevo' ]" >Nuevo cliente</button>
        </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12" *ngIf="listaClientes">
      <input class="form-control mr-sm-2" type="search" placeholder="Filtrar por nombre" aria-label="Search">
    </div>
    <div class="col-md-12" *ngIf="!listaClientes">
      <div class="alert alert-warning" role="alert">
          Actualmente no existe ningún cliente!
      </div>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="listaClientes">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Nit</th>
            <th scope="col">Fecha Creación</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>